.container {
    width: 100%;
    background: red;
    display: flex;
    flex-direction: column;
}

.input {
    /* width: 80%; */
    padding: 5px;
}

.btn {
    padding: 5px;
    min-width: 30px;
}

.btn-ac {
    min-width: 60px !important;
}

@media only screen and (max-width: 600px) {
    .container {
        background: blue;
        display: flex;
        flex-direction: column-revese;
    }
}

@media only screen and (max-width: 250px) {
    .container {
        width: 100%;
        background: green;
        display: flex;
        flex-direction: column;
    }
}